.pre-title {
    color: var(--primary_color);
    font-size: 14px;
    font-weight: 500;
    line-height: 1.2;
    margin-bottom: 16px;
}

.h2,
h2 {
    font-size: 26px;
    font-weight: 500;
    line-height: 1.1;
    letter-spacing: -0.5px;
    margin-top: 0;
    margin-bottom: 40px;
    text-transform: uppercase;
    @media(min-width: $sm) {
        font-size: 50px;
    }

    &:last-child {
        margin-bottom: 0;
    }

    & + .page__section-text {
        margin-top: -24px;
        @media(min-width: $lg) {
            margin-top: -16px;
        }
    }
}

.h3,
h3 {
    &:first-child {
        margin-top: 0;
    }

    &:last-child {
        margin-bottom: 0;
    }
}

.h4,
h4 {
    &:first-child {
        margin-top: 0;
    }

    &:last-child {
        margin-bottom: 0;
    }
}

ol,
p,
ul {
    margin-top: 0;

    &:last-child {
        margin-bottom: 0;
    }
}