.contacts {
    position: relative;
    z-index: 1;
    @media(min-width: $md) {
        align-items: center;
        display: flex;
        justify-content: space-between;
        gap: 60px;
        flex-direction: row-reverse;
    }

    &__image {
        @media(max-width: $md - 0.02px) {
            margin-bottom: 110px;
        }

        img {
            display: block;
            margin-left: auto;
            margin-right: auto;
        }
    }

    &__text {}

    &__items {
        margin-bottom: 60px;
        @media(min-width: $sm) {
            margin-bottom: 40px;
        }

        .contact {
            &:not(:last-child) {
                margin-bottom: 40px;
                @media(min-width: $sm) {
                    margin-bottom: 24px;
                }
            }
        }
    }

    &__socials {
        h3 {
            font-size: 20px;
            font-weight: 500;
            line-height: 1.2;
            margin-bottom: 24px;
        }
    }

    .decor-mobile {
        fill: none;
        height: 849px;
        left: 50%;
        position: absolute;
        stroke: #F5E7E8;
        stroke-width: 120;
        transform: translate(-50%, -50%);
        top: 50%;
        width: 2440px;
        z-index: -1;
        @media(min-width: $md) {
            display: none;
        }
    }

    .decor-desktop {
        display: none;
        @media(min-width: $md) {
            display: block;
            fill: none;
            height: 1155px;
            left: 50%;
            position: absolute;
            stroke: #F5E7E8;
            stroke-width: 168;
            transform: translate(-43.5%, -61%);
            top: 50%;
            width: 3313px;
            z-index: -1;
        }
    }
}

.contact {
    font-size: 20px;
    line-height: 1.2;
    @media(min-width: $sm) {
        align-items: center;
        display: flex;
        gap: 30px;
    }

    img {
        display: block;
        min-width: 40px;
        width: 40px;
        @media(max-width: $sm - 0.02px) {
            margin-bottom: 16px;
        }
    }
}

.socials {
    display: flex;
    gap: 24px;
    flex-wrap: wrap;
}

.social-link {
    align-items: center;
    background-color: #fff;
    border-radius: 50%;
    color: var(--primary_color);
    display: flex;
    height: 70px;
    justify-content: center;
    transition: background-color 0.3s, color 0.3s;
    width: 70px;
    @include hover {
        background-color: var(--primary_color);
        color: #fff;
    }

    svg {
        fill: currentColor;
        height: 40px;
        width: 40px;
    }
}