.news {
    background-color: #fff;
    border-radius: 24px;
    overflow: hidden;
    position: relative;
    width: 270px;
    z-index: 1;

    &__image {
        position: relative;
        z-index: 1;

        img {
            display: block;
        }
    }

    &__body {
        display: flex;
        flex-direction: column;
        height: 170px;
        overflow: hidden;
        padding: 16px 24px 24px;
        position: relative;
        z-index: 1;

        &::after {
            background-image: linear-gradient(180deg, rgba(255,255,255,0) 0%, rgba(255,255,255,0.7) 50%, rgba(255,255,255,1) 100%);
            bottom: 0;
            content: '';
            height: 60px;
            left: 0;
            position: absolute;
            pointer-events: none;
            top: auto;
            width: 100%;
            z-index: 0;
        }

        h3 {
            font-size: 20px;
            font-weight: 500;
            line-height: 1.2;
            margin-bottom: 16px;

            a {
                &::after {
                    bottom: 0;
                    content: '';
                    left: 0;
                    position: absolute;
                    right: 0;
                    top: 0;
                    z-index: 1;
                }
            }
        }
    }

    &__text {
        font-size: 14px;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

.news-card {
    &__image {
        margin-bottom: 24px;
        @media(min-width: $sm) {
            margin-bottom: 40px;
        }

        img {
            border-radius: 20px;
            display: block;
        }
    }
}