<header class="header">
    <div class="header__inner container">
        <a class="header__logo" href="#">
            <img src="images/logo.svg" alt="BONA PEOPLE GROUP">
        </a>

        <button class="js-menu-opener header__burger" type="button" title="Открыть меню">
            <svg aria-hidden="true">
                <use xlink:href="images/sprite.svg#burger" />
            </svg>
        </button>

        <div class="main-menu">
            <div class="main-menu__top">
                <div class="header__logo">
                    <img src="images/logo--white.svg" alt="BONA PEOPLE GROUP">
                </div>

                <button class="js-menu-closer main-menu__closer" type="button" title="Закрыть меню">
                    <svg aria-hidden="true">
                        <use xlink:href="images/sprite.svg#close" />
                    </svg>
                </button>
            </div>

            <nav class="main-menu__nav">
                <ul class="main-menu__list">
                    <li class="main-menu__item">
                        <a class="main-menu__link" href="#">Доставка</a>
                    </li>

                    <li class="main-menu__item">
                        <a class="js-submenu-toggler main-menu__link main-menu__link--root" href="#">
                            <span>Рестораны</span>
                            <svg aria-hidden="true">
                                <use xlink:href="images/sprite.svg#menu_arrow" />
                            </svg>
                        </a>

                        <div class="submenu">
                            <ul class="submenu__list">
                                <li class="submenu__item">
                                    <a class="submenu__link" href="#">Bona Capona</a>
                                </li>
                                <li class="submenu__item">
                                    <a class="submenu__link" href="#">MZE</a>
                                </li>
                                <li class="submenu__item">
                                    <a class="submenu__link" href="#">Склад 22</a>
                                </li>
                                <li class="submenu__item">
                                    <a class="submenu__link" href="#">Bona Петергоф</a>
                                </li>
                                <li class="submenu__item">
                                    <a class="submenu__link" href="#">MUST</a>
                                </li>
                            </ul>
                        </div>
                    </li>

                    <li class="main-menu__item">
                        <a class="main-menu__link" href="#">О нас</a>
                    </li>

                    <li class="main-menu__item">
                        <a class="js-submenu-toggler main-menu__link main-menu__link--root" href="#">
                            <span>Банкеты</span>
                            <svg aria-hidden="true">
                                <use xlink:href="images/sprite.svg#menu_arrow" />
                            </svg>
                        </a>

                        <div class="submenu">
                            <ul class="submenu__list">
                                <li class="submenu__item">
                                    <a class="submenu__link" href="#">Bona Петергоф</a>
                                </li>
                                <li class="submenu__item">
                                    <a class="submenu__link" href="#">Bona Capona</a>
                                </li>
                                <li class="submenu__item">
                                    <a class="submenu__link" href="#">Склад 22</a>
                                </li>
                                <li class="submenu__item">
                                    <a class="submenu__link" href="#">MZE</a>
                                </li>
                            </ul>
                        </div>
                    </li>

                    <li class="main-menu__item">
                        <a class="main-menu__link" href="#">Бронирование</a>
                    </li>

                    <li class="main-menu__item">
                        <a class="main-menu__link" href="#">Работа по вкусу</a>
                    </li>

                    <li class="main-menu__item">
                        <a class="main-menu__link" href="#">Контакты</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</header>