<section class="contacts page__section">
    <div class="contacts__image">
        <img src="images/content/contacts/img.png" srcset="images/content/contacts/img@2x.png 2x" alt="">
    </div>

    <div class="contacts__text">
        <h2>Контакты</h2>

        <div class="contacts__items">
            <div class="contact">
                <img src="images/icons/pin.svg" alt="">
                <p>192288, России, г. Санкт-Петербург,<br> ул. Бухарестская д. 176</p>
            </div>

            <div class="contact">
                <img src="images/icons/phone.svg" alt="">
                <p><a href="tel:+78124067001">+7 (812) 406-70-01</a></p>
            </div>

            <div class="contact">
                <img src="images/icons/email.svg" alt="">
                <p><a href="mailto:promopr@bona-capona.ru">promopr@bona-capona.ru</a></p>
            </div>
        </div>

        <div class="contacts__socials">
            <h3>Мы в соцсетях</h3>

            <div class="socials">
                <a class="social-link" href="#" title="Наш Instagram" target="_blank">
                    <svg aria-hidden="true">
                        <use xlink:href="images/sprite.svg#inst" />
                    </svg>
                </a>

                <a class="social-link" href="#" title="Наш Telegram" target="_blank">
                    <svg aria-hidden="true">
                        <use xlink:href="images/sprite.svg#tg" />
                    </svg>
                </a>

                <a class="social-link" href="#" title="Мы Вконтакте" target="_blank">
                    <svg aria-hidden="true">
                        <use xlink:href="images/sprite.svg#vk" />
                    </svg>
                </a>
            </div>
        </div>
    </div>
</section>