<section class="faq-section page__section">
    <h2 class="text-center">Отвечаем на популярные<br> вопросы</h2>

    <div class="accordions">
        <div class="accordions__column">
            <div class="accordion">
                <div class="accordion__title-block">
                    <h3>За сколько нужно бронировать ресторан на свадьбу?</h3>

                    <button class="js-accordion-toggler accordion__toggler" type="button">
                        <svg aria-hidden="true">
                            <use xlink:href="images/sprite.svg#plus" />
                        </svg>
                    </button>
                </div>

                <div class="accordion__body">
                    <p>Чем раньше вы выберите зал, тем больше дополнительных услуг мы сможем предложить. За несколько дней до торжества возможно забронировать столик в общем зале для празднования в кругу близких.</p>
                </div>
            </div>

            <div class="accordion">
                <div class="accordion__title-block">
                    <h3>Как рассчитать стоимость ресторана для свадьбы?</h3>

                    <button class="js-accordion-toggler accordion__toggler" type="button">
                        <svg aria-hidden="true">
                            <use xlink:href="images/sprite.svg#plus" />
                        </svg>
                    </button>
                </div>

                <div class="accordion__body">
                    <p>Чем раньше вы выберите зал, тем больше дополнительных услуг мы сможем предложить. За несколько дней до торжества возможно забронировать столик в общем зале для празднования в кругу близких.</p>
                </div>
            </div>

            <div class="accordion">
                <div class="accordion__title-block">
                    <h3>За сколько нужно бронировать ресторан на свадьбу?</h3>

                    <button class="js-accordion-toggler accordion__toggler" type="button">
                        <svg aria-hidden="true">
                            <use xlink:href="images/sprite.svg#plus" />
                        </svg>
                    </button>
                </div>

                <div class="accordion__body">
                    <p>Чем раньше вы выберите зал, тем больше дополнительных услуг мы сможем предложить. За несколько дней до торжества возможно забронировать столик в общем зале для празднования в кругу близких.</p>
                </div>
            </div>

            <div class="accordion">
                <div class="accordion__title-block">
                    <h3>Как рассчитать стоимость ресторана для свадьбы?</h3>

                    <button class="js-accordion-toggler accordion__toggler" type="button">
                        <svg aria-hidden="true">
                            <use xlink:href="images/sprite.svg#plus" />
                        </svg>
                    </button>
                </div>

                <div class="accordion__body">
                    <p>Чем раньше вы выберите зал, тем больше дополнительных услуг мы сможем предложить. За несколько дней до торжества возможно забронировать столик в общем зале для празднования в кругу близких.</p>
                </div>
            </div>
        </div>
        <div class="accordions__column">
            <div class="accordion">
                <div class="accordion__title-block">
                    <h3>Как рассчитать стоимость ресторана для свадьбы?</h3>

                    <button class="js-accordion-toggler accordion__toggler" type="button">
                        <svg aria-hidden="true">
                            <use xlink:href="images/sprite.svg#plus" />
                        </svg>
                    </button>
                </div>

                <div class="accordion__body">
                    <p>Чем раньше вы выберите зал, тем больше дополнительных услуг мы сможем предложить. За несколько дней до торжества возможно забронировать столик в общем зале для празднования в кругу близких.</p>
                </div>
            </div>

            <div class="accordion">
                <div class="accordion__title-block">
                    <h3>За сколько нужно бронировать ресторан на свадьбу?</h3>

                    <button class="js-accordion-toggler accordion__toggler" type="button">
                        <svg aria-hidden="true">
                            <use xlink:href="images/sprite.svg#plus" />
                        </svg>
                    </button>
                </div>

                <div class="accordion__body">
                    <p>Чем раньше вы выберите зал, тем больше дополнительных услуг мы сможем предложить. За несколько дней до торжества возможно забронировать столик в общем зале для празднования в кругу близких.</p>
                </div>
            </div>

            <div class="accordion">
                <div class="accordion__title-block">
                    <h3>Как рассчитать стоимость ресторана для свадьбы?</h3>

                    <button class="js-accordion-toggler accordion__toggler" type="button">
                        <svg aria-hidden="true">
                            <use xlink:href="images/sprite.svg#plus" />
                        </svg>
                    </button>
                </div>

                <div class="accordion__body">
                    <p>Чем раньше вы выберите зал, тем больше дополнительных услуг мы сможем предложить. За несколько дней до торжества возможно забронировать столик в общем зале для празднования в кругу близких.</p>
                </div>
            </div>
        </div>
    </div>
</section>