<section class="hero page__section">
    <div class="hero__top">
        <div class="hero__title">
            <a class="hero__button-1 button button--type_1" href="#">Подбери вакансию</a>
            <h1>Работай<br> во вкусной команде<br> <span class="word">B<span class="letter">o</span>na</span> <span class="word">Pe<span class="letter">o</span>ple</span> <span class="word">Gr<span class="letter">o</span>up</span></h1>
            <a class="hero__button-2 button button--type_1" href="#">Узнай больше о компании</a>
        </div>

        <picture class="hero__image">
            <source srcset="images/content/hero/desk.png, images/content/hero/desk@2x.png 2x" media="(min-width: 768px)">
            <img src="images/content/hero/mob.jpg" srcset="images/content/hero/mob@2x.jpg 2x" alt="">
        </picture>
    </div>

    <button class="hero-button" type="button">
        <span class="hero-button__text">Заполни<br> анкету</span>
    </button>
</section>