<section class="interview-section page__section">
    <div class="cards-slider">
        <div class="cards-slider__title-block">
            <h2>Посмотри интервью<br> с твоими коллегами</h2>

            <div class="cards-slider__nav">
                <button class="swiper-button-prev" data-arrows="arrows_1" type="button" title="Назад">
                    <svg aria-hidden="true">
                        <use xlink:href="images/sprite.svg#slider_left" />
                    </svg>
                </button>

                <button class="swiper-button-next" data-arrows="arrows_1" type="button" title="Вперёд">
                    <svg aria-hidden="true">
                        <use xlink:href="images/sprite.svg#slider_right" />
                    </svg>
                </button>
            </div>
        </div>

        <div class="js-cards-slider swiper" data-arrows="arrows_1">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="interview">
                        <div class="interview__image">
                            <img src="images/content/interview/img.jpg" srcset="images/content/interview/img@2x.jpg 2x" alt="">

                            <svg aria-hidden="true">
                                <use xlink:href="images/sprite.svg#play" />
                            </svg>
                        </div>
                        <div class="interview__body">
                            <h3><a href="javascript:void(0)" data-fancybox="interview_1" data-src="#interview_1">Александр Фёдоров</a></h3>

                            <p class="interview__place">Старший официант</p>

                            <p class="interview__text">В компании уже 7 лет, победитель 2022 года с самым высоким средним чеком.</p>
                        </div>
                    </div>

                    <div id="interview_1" class="popup popup--w_700">
                        <div class="interview-card">
                            <div class="interview-card__video">
                                <img src="images/content/interview/img_2.jpg" alt="">
                            </div>

                            <h2>Александр Фёдоров</h2>

                            <p class="interview-card__place">Старший официант</p>

                            <p>В компании уже 7 лет, победитель 2022 года с самым высоким средним чеком. В компании уже с самым высоким средним чеком. В компании уже 7 лет, победитель 2022 года с самым высоким средним чеком.</p>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="interview">
                        <div class="interview__image">
                            <img src="images/content/interview/img.jpg" srcset="images/content/interview/img@2x.jpg 2x" alt="">

                            <svg aria-hidden="true">
                                <use xlink:href="images/sprite.svg#play" />
                            </svg>
                        </div>
                        <div class="interview__body">
                            <h3><a href="javascript:void(0)">Александр Фёдоров</a></h3>

                            <p class="interview__place">Старший официант</p>

                            <p class="interview__text">В компании уже 7 лет, победитель 2022 года с самым высоким средним чеком.</p>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="interview">
                        <div class="interview__image">
                            <img src="images/content/interview/img.jpg" srcset="images/content/interview/img@2x.jpg 2x" alt="">

                            <svg aria-hidden="true">
                                <use xlink:href="images/sprite.svg#play" />
                            </svg>
                        </div>
                        <div class="interview__body">
                            <h3><a href="javascript:void(0)">Александр Фёдоров</a></h3>

                            <p class="interview__place">Старший официант</p>

                            <p class="interview__text">В компании уже 7 лет, победитель 2022 года с самым высоким средним чеком.</p>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="interview">
                        <div class="interview__image">
                            <img src="images/content/interview/img.jpg" srcset="images/content/interview/img@2x.jpg 2x" alt="">

                            <svg aria-hidden="true">
                                <use xlink:href="images/sprite.svg#play" />
                            </svg>
                        </div>
                        <div class="interview__body">
                            <h3><a href="javascript:void(0)">Александр Фёдоров</a></h3>

                            <p class="interview__place">Старший официант</p>

                            <p class="interview__text">В компании уже 7 лет, победитель 2022 года с самым высоким средним чеком.</p>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="interview">
                        <div class="interview__image">
                            <img src="images/content/interview/img.jpg" srcset="images/content/interview/img@2x.jpg 2x" alt="">

                            <svg aria-hidden="true">
                                <use xlink:href="images/sprite.svg#play" />
                            </svg>
                        </div>
                        <div class="interview__body">
                            <h3><a href="javascript:void(0)">Александр Фёдоров</a></h3>

                            <p class="interview__place">Старший официант</p>

                            <p class="interview__text">В компании уже 7 лет, победитель 2022 года с самым высоким средним чеком.</p>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="interview">
                        <div class="interview__image">
                            <img src="images/content/interview/img.jpg" srcset="images/content/interview/img@2x.jpg 2x" alt="">

                            <svg aria-hidden="true">
                                <use xlink:href="images/sprite.svg#play" />
                            </svg>
                        </div>
                        <div class="interview__body">
                            <h3><a href="javascript:void(0)">Александр Фёдоров</a></h3>

                            <p class="interview__place">Старший официант</p>

                            <p class="interview__text">В компании уже 7 лет, победитель 2022 года с самым высоким средним чеком.</p>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="interview">
                        <div class="interview__image">
                            <img src="images/content/interview/img.jpg" srcset="images/content/interview/img@2x.jpg 2x" alt="">

                            <svg aria-hidden="true">
                                <use xlink:href="images/sprite.svg#play" />
                            </svg>
                        </div>
                        <div class="interview__body">
                            <h3><a href="javascript:void(0)">Александр Фёдоров</a></h3>

                            <p class="interview__place">Старший официант</p>

                            <p class="interview__text">В компании уже 7 лет, победитель 2022 года с самым высоким средним чеком.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <svg class="decor-mobile" aria-hidden="true">
        <use xlink:href="images/sprite.svg#decor_3" />
    </svg>

    <svg class="decor-desktop" aria-hidden="true">
        <use xlink:href="images/sprite.svg#decor_4" />
    </svg>
</section>