<section class="mission page__section">
    <div class="ticker">
        <div class="ticker__in">
            <span class="ticker__item">Будь в команде — Будь вкусным!&nbsp;</span>
            <span class="ticker__item">Будь в команде — Будь вкусным!&nbsp;</span>
            <span class="ticker__item">Будь в команде — Будь вкусным!&nbsp;</span>
            <span class="ticker__item">Будь в команде — Будь вкусным!&nbsp;</span>
            <span class="ticker__item">Будь в команде — Будь вкусным!&nbsp;</span>
            <span class="ticker__item">Будь в команде — Будь вкусным!&nbsp;</span>
            <span class="ticker__item">Будь в команде — Будь вкусным!&nbsp;</span>
            <span class="ticker__item">Будь в команде — Будь вкусным!&nbsp;</span>
            <span class="ticker__item">Будь в команде — Будь вкусным!&nbsp;</span>
            <span class="ticker__item">Будь в команде — Будь вкусным!&nbsp;</span>
            <span class="ticker__item">Будь в команде — Будь вкусным!&nbsp;</span>
            <span class="ticker__item">Будь в команде — Будь вкусным!&nbsp;</span>
        </div>
    </div>

    <h2 class="text-center">Наша миссия<br> и ценности</h2>

    <div class="page__section-text text-center">
        <p>Каждый из нас создает лучший сервис и незабываемое<br> впечатление от каждого контакта</p>
    </div>

    <div class="mission-grid">
        <div class="mission-item">
            <img src="images/content/mission/icon_1.svg" alt="">
            <h3>Клиенто&shy;ориентированность</h3>
            <p>Мы гарантируем выплаты всегда вовремя и программы мотивации для увеличения дохода.</p>
        </div>

        <div class="mission-item">
            <img src="images/content/mission/icon_2.svg" alt="">
            <h3>Доверие</h3>
            <p>Бесплатное трехразовое питание и скидка 50% на все меню для сотрудника в наших проектах.</p>
        </div>

        <div class="mission-item">
            <img src="images/content/mission/icon_3.svg" alt="">
            <h3>Уважение</h3>
            <p>Реальные перспективы роста. Каждый второй руководитель вырос с линейной позиции в ресторанах нашей компании.</p>
        </div>

        <div class="mission-item">
            <img src="images/content/mission/icon_4.svg" alt="">
            <h3>Профессионализм</h3>
            <p>Подарки сотрудникам на день рождения, свадьбу, новогодняя ёлка с подарками для детей, и конечно, корпоративы.</p>
        </div>

        <div class="mission-item">
            <img src="images/content/mission/icon_5.svg" alt="">
            <h3>Кайдзен</h3>
            <p>Мы гарантируем выплаты всегда вовремя и программы мотивации для увеличения дохода.
            </p>
        </div>
    </div>

    <div class="mission__image">
        <img src="images/content/mission/img.png" srcset="images/content/mission/img@2x.png 2x" alt="">
    </div>

    <svg class="decor-mobile" aria-hidden="true">
        <use xlink:href="images/sprite.svg#decor_5" />
    </svg>

    <svg class="decor-desktop" aria-hidden="true">
        <use xlink:href="images/sprite.svg#decor_6" />
    </svg>
</section>