<section class="page__section">
    <div class="cards-slider">
        <div class="cards-slider__title-block">
            <h2>Новости компании</h2>

            <div class="cards-slider__nav">
                <button class="swiper-button-prev" data-arrows="arrows_2" type="button" title="Назад">
                    <svg aria-hidden="true">
                        <use xlink:href="images/sprite.svg#slider_left" />
                    </svg>
                </button>

                <button class="swiper-button-next" data-arrows="arrows_2" type="button" title="Вперёд">
                    <svg aria-hidden="true">
                        <use xlink:href="images/sprite.svg#slider_right" />
                    </svg>
                </button>
            </div>
        </div>

        <div class="js-cards-slider swiper" data-arrows="arrows_2">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="news">
                        <div class="news__image">
                            <img src="images/content/news/img.jpg" srcset="images/content/news/img@2x.jpg 2x" alt="">
                        </div>

                        <div class="news__body">
                            <h3><a href="javascript:void(0)" data-fancybox="news_1" data-src="#news_1">Турнир BPG по футболу</a></h3>

                            <p class="news__text">Нешуточная борьба развернулась на ежегодном Турнире! 3 часа напряженных сражений на двух полях завершились адреналиновой серией пенальти. Сильнейшие соперники: команда MZE и Bona Север пощекотали
                                нервы своим группам
                                поддержки.</p>
                        </div>
                    </div>

                    <div id="news_1" class="popup popup--w_800">
                        <div class="news-card">
                            <div class="news-card__image">
                                <img src="images/content/news/img_2.jpg" srcset="images/content/news/img_2@2x.jpg 2x" alt="">
                            </div>

                            <h2>Корпоративная библиотека пополнена новыми книгами!</h2>

                            <p>Да не простыми, а почти золотыми. Одна из них порадует и вдохновит любого гурмана, а две другие призваны отточить мастерство приготовления пиццы — искусство, доступное не всем.</p>

                            <p>️В BPG есть чудесная подборка бумажных книг на тему саморазвития, бизнеса и гастрономии. Каждый сотрудник может воспользоваться ей и взять на время любой из свободных экземпляров. А если нужной ему книги нет в наличии —
                                заказать ее приобретение.</p>

                            <p>️Так коллекция книг BPG регулярно пополняется, а процесс саморазвития — не останавливается!</p>
                        </div>
                    </div>
                </div>

                <div class="swiper-slide">
                    <div class="news">
                        <div class="news__image">
                            <img src="images/content/news/img.jpg" srcset="images/content/news/img@2x.jpg 2x" alt="">
                        </div>

                        <div class="news__body">
                            <h3><a href="javascript:void(0)">Иммерсивный ресторан</a></h3>

                            <p class="news__text">BONA PEOPLE SCHOOL, чьи двери открыты для каждого сотрудника BPG, выявила самый популярный тренинг 2024 года! По количеству позитивных отзывов таким стал «Иммерсивный ресторан». </p>
                        </div>
                    </div>
                </div>

                <div class="swiper-slide">
                    <div class="news">
                        <div class="news__image">
                            <img src="images/content/news/img.jpg" srcset="images/content/news/img@2x.jpg 2x" alt="">
                        </div>

                        <div class="news__body">
                            <h3><a href="javascript:void(0)">Корпоративная библиотека пополнена новыми книгами!</a></h3>

                            <p class="news__text">Да не простыми, а почти золотыми. Одна из них порадует и вдохновит любого гурмана, а две другие призваны отточить мастерство приготовления пиццы 🍕 - искусство, доступное не всем ✨</p>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="news">
                        <div class="news__image">
                            <img src="images/content/news/img.jpg" srcset="images/content/news/img@2x.jpg 2x" alt="">
                        </div>

                        <div class="news__body">
                            <h3><a href="javascript:void(0)">Иммерсивный ресторан</a></h3>

                            <p class="news__text">BONA PEOPLE SCHOOL, чьи двери открыты для каждого сотрудника BPG, выявила самый популярный тренинг 2024 года! По количеству позитивных отзывов таким стал «Иммерсивный ресторан». </p>
                        </div>
                    </div>
                </div>

                <div class="swiper-slide">
                    <div class="news">
                        <div class="news__image">
                            <img src="images/content/news/img.jpg" srcset="images/content/news/img@2x.jpg 2x" alt="">
                        </div>

                        <div class="news__body">
                            <h3><a href="javascript:void(0)">Корпоративная библиотека пополнена новыми книгами!</a></h3>

                            <p class="news__text">Да не простыми, а почти золотыми. Одна из них порадует и вдохновит любого гурмана, а две другие призваны отточить мастерство приготовления пиццы 🍕 - искусство, доступное не всем ✨</p>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="news">
                        <div class="news__image">
                            <img src="images/content/news/img.jpg" srcset="images/content/news/img@2x.jpg 2x" alt="">
                        </div>

                        <div class="news__body">
                            <h3><a href="javascript:void(0)">Иммерсивный ресторан</a></h3>

                            <p class="news__text">BONA PEOPLE SCHOOL, чьи двери открыты для каждого сотрудника BPG, выявила самый популярный тренинг 2024 года! По количеству позитивных отзывов таким стал «Иммерсивный ресторан». </p>
                        </div>
                    </div>
                </div>

                <div class="swiper-slide">
                    <div class="news">
                        <div class="news__image">
                            <img src="images/content/news/img.jpg" srcset="images/content/news/img@2x.jpg 2x" alt="">
                        </div>

                        <div class="news__body">
                            <h3><a href="javascript:void(0)">Корпоративная библиотека пополнена новыми книгами!</a></h3>

                            <p class="news__text">Да не простыми, а почти золотыми. Одна из них порадует и вдохновит любого гурмана, а две другие призваны отточить мастерство приготовления пиццы 🍕 - искусство, доступное не всем ✨</p>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="news">
                        <div class="news__image">
                            <img src="images/content/news/img.jpg" srcset="images/content/news/img@2x.jpg 2x" alt="">
                        </div>

                        <div class="news__body">
                            <h3><a href="javascript:void(0)">Иммерсивный ресторан</a></h3>

                            <p class="news__text">BONA PEOPLE SCHOOL, чьи двери открыты для каждого сотрудника BPG, выявила самый популярный тренинг 2024 года! По количеству позитивных отзывов таким стал «Иммерсивный ресторан». </p>
                        </div>
                    </div>
                </div>

                <div class="swiper-slide">
                    <div class="news">
                        <div class="news__image">
                            <img src="images/content/news/img.jpg" srcset="images/content/news/img@2x.jpg 2x" alt="">
                        </div>

                        <div class="news__body">
                            <h3><a href="javascript:void(0)">Корпоративная библиотека пополнена новыми книгами!</a></h3>

                            <p class="news__text">Да не простыми, а почти золотыми. Одна из них порадует и вдохновит любого гурмана, а две другие призваны отточить мастерство приготовления пиццы 🍕 - искусство, доступное не всем ✨</p>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="news">
                        <div class="news__image">
                            <img src="images/content/news/img.jpg" srcset="images/content/news/img@2x.jpg 2x" alt="">
                        </div>

                        <div class="news__body">
                            <h3><a href="javascript:void(0)">Иммерсивный ресторан</a></h3>

                            <p class="news__text">BONA PEOPLE SCHOOL, чьи двери открыты для каждого сотрудника BPG, выявила самый популярный тренинг 2024 года! По количеству позитивных отзывов таким стал «Иммерсивный ресторан». </p>
                        </div>
                    </div>
                </div>

                <div class="swiper-slide">
                    <div class="news">
                        <div class="news__image">
                            <img src="images/content/news/img.jpg" srcset="images/content/news/img@2x.jpg 2x" alt="">
                        </div>

                        <div class="news__body">
                            <h3><a href="javascript:void(0)">Корпоративная библиотека пополнена новыми книгами!</a></h3>

                            <p class="news__text">Да не простыми, а почти золотыми. Одна из них порадует и вдохновит любого гурмана, а две другие призваны отточить мастерство приготовления пиццы 🍕 - искусство, доступное не всем ✨</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>