<section class="page__section">
    <h2 class="text-center">Выбери вакансию<br> для себя</h2>

    <div class="page__section-text text-center">
        <a class="button button--type_2" href="#">Наши рестораны</a>
    </div>

    <div class="vacancies">
        <div class="vacancies__item">
            <div class="vacancy">
                <img src="images/content/vacancies/img_1.jpg" srcset="images/content/vacancies/img_1@2x.jpg 2x" alt="">

                <div class="vacancy__info">
                    <h3>Бармен</h3>

                    <p>
                        Зарплата: от 88 000<br>
                        График работы: гибкий<br>
                        Опыт работы: не требуется
                    </p>

                    <button class="button button--type_3" type="button" data-fancybox="vacancy_1" data-src="#vacancy_1">Подробнее</button>
                </div>
            </div>

            <div id="vacancy_1" class="popup popup--w_900">
                <div class="vacancy-detail">
                    <div class="vacancy-detail__image">
                        <img src="images/content/vacancies/img_1.jpg" srcset="images/content/vacancies/img_1@2x.jpg 2x" alt="">
                    </div>

                    <div class="vacancy-detail__text">
                        <h2>Курьер</h2>

                        <h3>Что нужно делать</h3>

                        <p>Доставлять готовую продукцию клиентам в пределах одного района (радиус доставки около 7 км).</p>

                        <h3>Мы предлагаем</h3>

                        <ul>
                            <li>Выплаты на руки после отработанной смены.</li>
                            <li>Удобный график 2/2 с 10:00 до 23:00; (все районы).</li>
                            <li>Работа в своём районе.</li>
                            <li>Выплаты зависят от вас почасовая ставка + ставка за каждый отвезенный заказ.</li>
                            <li>Обеспечиваем заказами в течение смены.</li>
                            <li>Обеды и ужины за счет компании.</li>
                        </ul>

                        <h3>Мы сработаемся, если</h3>

                        <ul>
                            <li>Ты вежливый и пунктуальный — наши клиенты ждут своевременную доставку.</li>
                            <li>Ответственно относитесь к работе.</li>
                        </ul>

                        <button class="button button--type_2" type="button" data-fancybox="vacancy_1_form" data-src="#vacancy_form">Откликнуться</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="vacancies__item">
            <div class="vacancy">
                <img src="images/content/vacancies/img_2.jpg" srcset="images/content/vacancies/img_2@2x.jpg 2x" alt="">

                <div class="vacancy__info">
                    <h3>Шеф</h3>

                    <p>
                        Зарплата: от 88 000<br>
                        График работы: гибкий<br>
                        Опыт работы: не требуется
                    </p>

                    <button class="button button--type_3" type="button">Подробнее</button>
                </div>
            </div>
        </div>

        <div class="vacancies__item">
            <div class="vacancy">
                <img src="images/content/vacancies/img_3.jpg" srcset="images/content/vacancies/img_3@2x.jpg 2x" alt="">

                <div class="vacancy__info">
                    <h3>Официант</h3>

                    <p>
                        Зарплата: от 88 000<br>
                        График работы: гибкий<br>
                        Опыт работы: не требуется
                    </p>

                    <button class="button button--type_3" type="button">Подробнее</button>
                </div>
            </div>
        </div>

        <div class="vacancies__item">
            <div class="vacancy">
                <img src="images/content/vacancies/img_4.jpg" srcset="images/content/vacancies/img_4@2x.jpg 2x" alt="">

                <div class="vacancy__info">
                    <h3>Повар</h3>

                    <p>
                        Зарплата: от 88 000<br>
                        График работы: гибкий<br>
                        Опыт работы: не требуется
                    </p>

                    <button class="button button--type_3" type="button">Подробнее</button>
                </div>
            </div>
        </div>

        <div class="vacancies__item">
            <div class="vacancy">
                <img src="images/content/vacancies/img_5.jpg" srcset="images/content/vacancies/img_5@2x.jpg 2x" alt="">

                <div class="vacancy__info">
                    <h3>Хостес</h3>

                    <p>
                        Зарплата: от 88 000<br>
                        График работы: гибкий<br>
                        Опыт работы: не требуется
                    </p>

                    <button class="button button--type_3" type="button">Подробнее</button>
                </div>
            </div>
        </div>

        <div class="vacancies__item">
            <div class="vacancy">
                <img src="images/content/vacancies/img_6.jpg" srcset="images/content/vacancies/img_6@2x.jpg 2x" alt="">

                <div class="vacancy__info">
                    <h3>Менеджер директор</h3>

                    <p>
                        Зарплата: от 88 000<br>
                        График работы: гибкий<br>
                        Опыт работы: не требуется
                    </p>

                    <button class="button button--type_3" type="button">Подробнее</button>
                </div>
            </div>
        </div>

        <div class="vacancies__item">
            <div class="vacancy">
                <img src="images/content/vacancies/img_7.jpg" srcset="images/content/vacancies/img_7@2x.jpg 2x" alt="">

                <div class="vacancy__info">
                    <h3>Курьер</h3>

                    <p>
                        Зарплата: от 88 000<br>
                        График работы: гибкий<br>
                        Опыт работы: не требуется
                    </p>

                    <button class="button button--type_3" type="button">Подробнее</button>
                </div>
            </div>
        </div>
    </div>
</section>