<section class="why-section page__section">
    <p class="pre-title text-center">Наши гарантии</p>

    <h2 class="text-center">Почему вкусно быть<br> в команде Bona People?</h2>

    <div class="page__section-text text-center">
        <p>
            BPG eже 12 лет радует гостей изысканной кухней и эстетикой своих ресторанов. Десятки тысяч людей каждый месяц доверяют нам свой обед, ужин или семейное торжество, а мы используем свой профессионализм, таланты и опыт, чтобы наши любимые
            гости были счастливы.
        </p>
    </div>

    <div class="why-grid">
        <div class="why">
            <img src="images/content/why/icon_1.svg" alt="">
            <h3>Зарплата</h3>
            <p>Мы гарантируем выплаты всегда вовремя и программы мотивации для увеличения дохода.</p>
        </div>

        <div class="why">
            <img src="images/content/why/icon_2.svg" alt="">
            <h3>Питание</h3>
            <p>Бесплатное трехразовое питание и скидка 50% на все меню для сотрудника в наших проектах.</p>
        </div>

        <div class="why">
            <img src="images/content/why/icon_3.svg" alt="">
            <h3>Карьерный рост</h3>
            <p>Реальные перспективы роста. Каждый второй руководитель вырос с линейной позиции в ресторанах нашей компании.</p>
        </div>

        <div class="why">
            <img src="images/content/why/icon_4.svg" alt="">
            <h3>Бонусы</h3>
            <p>Подарки сотрудникам на день рождения, свадьбу, новогодняя ёлка с подарками для детей, и конечно, корпоративы.</p>
        </div>
    </div>
</section>